{% load static %}<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block styles %}
    <link href="{% static 'tasks/css/bootstrap.css' %}" rel="stylesheet">
    {% endblock styles %}
    <title> {{ title }} </title>
  </head>
  <body>
    {% include "tasks/includes/header.html" %}    

    {% block hero %}
        
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Ola K Ase</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">El gestor de tareas que no sabías que necesitabas, bro</p>
    </div>
  </div>

    {% endblock hero %}

    <div class="container">
    {% block content %}

    {% endblock content %}
    </div>

    {% block javascript %}
    <script src="{% static 'tasks/js/bootstrap.js' %}"></script>
    {% endblock javascript %}

  </body>
</html>
