{% extends "tasks/base.html" %}
{% load texts %}

{% block content %}
  
<table class="table">
  <thead>
    <tr>
      <th>Id. Tarea</th>
      <th>Nombre</th>
      <th>descripción</th>
      <th>Urgente</th>
    </tr>
  </thead>  
  <tbody>
    {% for task in tasks.all %}<tr>
      <th>{{ task.pk }}</th>  
      <td>
        <b>
            <a href="{% url 'view_task' id_task=task.pk %}">
            {{ task.name|as_markdown }}
            </a>
        </b>

      </td>
      <td>
        {{ task.description|as_markdown }}
      </td>
      <td>
        {{ task.urgent|as_boolean }}
      </td>
    </tr>{% endfor %}
  </tbody>
</table>
    
<div class="actions">
    <a class="btn btn-warning"
       href={% url 'add_task' %}>
        <i class="bi bi-plus-square-fill"></i>
        Nueva tarea
    </a>
</div>

{% endblock content %}
